# Set DPI - Default: 96 (100%)
#   120 (125%)
#   144 (150%)
#   168 (175%)
#   192 (200%)
Xft.dpi: 96

# These could be useful?
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
